@import '~antd/dist/antd.css';

.menu {
  height: 55px;
  background-color: #001529;
  overflow: auto;
}

.menu__logo {
  float: left;
}

.menu__logo a {
  display: inline-block;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 45px;
  margin: 5px;
  display: none !important;
  background: #1890FF;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
  background-color: #001529;
  border-bottom: solid 4px #1890FF;
}

@media (max-width: 767px) {

  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }
}